body {
  min-height: 100vh;
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-light-gray);
}
body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -25px 20px -30px rgba(0, 0, 0, 0.45),
    25px 0 20px -30px rgba(0, 0, 0, 0.45),
    0px 25px 20px -30px rgba(0, 0, 0, 0.45),
    -25px 0 20px -30px rgba(0, 0, 0, 0.45);
}
body .container .card {
  max-width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 4%;
  color: #fff;
}
body .container .card.sedans {
  background-color: var(--Bright-orange);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
body .container .card.suvs {
  background-color: var(--Dark-cyan);
}
body .container .card.luxury {
  background-color: var(--Very-dark-cyan);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
body .container .card h1 {
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  color: var(--Very-light-gray);
}
body .container .card p {
  line-height: 30px;
  color: var(--Transparent-white);
}
body .container .card button {
  border: solid var(--Very-light-gray) 3px;
  padding: 10px 25px;
  border-radius: 19px;
  cursor: pointer;
  font-weight: bold;
  font-family: "Lexend Deca", sans-serif;
  transition: all 0.3s;
}
body .container .card button:hover {
  background-color: transparent;
}
body .container .card.sedans button {
  color: var(--Bright-orange);
}
body .container .card.suvs button {
  color: var(--Dark-cyan);
}
body .container .card.luxury button {
  color: var(--Very-dark-cyan);
}
body .container .card.sedans button:hover,
body .container .card.suvs button:hover,
body .container .card.luxury button:hover {
  color: #fff;
}